{% extends 'parent_center_app/base_orangtua.html' %}
{% block breadcrumb %}
<div class="div-title mx-4 py-4">
    <span class="title-content">{{title}}</span>
    <hr class="dropdown-divider hr-title mt-3">
</div>
{% endblock breadcrumb %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body card-dashboard">
                    <div class="row mx-0 div-sort d-flex div-absen">
                        <div class="align-self-center judul-sort">
                            Mata Pelajaran: &nbsp; 
                        </div>
                        <select class="select2select" name="id_mapel" id="id_mapel" onchange="location = this.value;">
                            {% for mapel in pelajaran %}
                                {% if mapel.id_mapel == selected %}
                                <option value="{% url 'absensi siswa' mapel=mapel.id_mapel %}" selected>{{ mapel.nama }}</option>
                                {% else %}
                                <option value="{% url 'absensi siswa' mapel=mapel.id_mapel %}">{{ mapel.nama }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="table-responsive table-siswa">
                        <table class="table table table-striped table-siswa" id="table-custom">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Pertemuan ke-</th>
                                    <th scope="col" class="text-center">Tanggal</th>
                                    <th scope="col" class="text-center">Kehadiran</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in absen %}
                                <tr>
                                    <td class="text-center">{{ data.id_absen.pertemuan }}</td>
                                    <td class="text-center">{{ data.id_absen.tgl|date:'l, d F Y' }}</td>
                                    <td class="text-center">
                                        {% if data.keterangan == 'H' %}
                                            <span>{{ data.keterangan }}</span>
                                        {% else %}
                                            <span style="color: red;">{{ data.keterangan }}</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block keterangan %}
    atas nama <b class="text-capitalize">Raidah Fakhirah Ramadhanie</b>
{% endblock keterangan %}
{% block footer %}
    <script>
        $(document).ready(function(){
            $('#table-custom').DataTable();
        });
    </script>
    <script src="//cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#id_mapel').select2();
        });
    </script>
{% endblock footer %}
