{% extends 'parent_center_app/base_orangtua.html' %}
{% block breadcrumb %}
<div class="div-title mx-4 py-4">
    <span class="title-content">{{title}}</span>
    <hr class="dropdown-divider hr-title mt-3">
</div>
{% endblock breadcrumb %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body card-custom">
                <div class="form-group row mt-3">
                    <label for="inputNis" class="col-sm-4 col-md-3 col-lg-2 col-form-label">NIS</label>
                    <div class="col-sm-8 col-md-9 col-lg-10">
                        <input type="text" class="form-control" id="inputNis" name="nis" value="{{ siswa.nis }}" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputNisn" class="col-sm-4 col-md-3 col-lg-2 col-form-label">NISN</label>
                    <div class="col-sm-8 col-md-9 col-lg-10">
                        <input type="text" class="form-control" id="inputNisn" name="nisn" value="{{ siswa.nisn }}" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputNama" class="col-sm-4 col-md-3 col-lg-2 col-form-label">Nama</label>
                    <div class="col-sm-8 col-md-9 col-lg-10">
                        <input type="text" class="form-control" id="inputNama" name="nama" value="{{ siswa.nama }}" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-md-3 col-lg-2 col-form-label" for="kelas">Kelas</label>
                    <div class="col-sm-8 col-md-9 col-lg-10">
                        <input type="text" name="kelas" id="kelas" class="form-control" value="{{ siswa.id_kelas }}" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-md-3 col-lg-2 col-form-label" for="kelas">Jenis Kelamin</label>
                    <div class="col-sm-8 col-md-9 col-lg-10">
                        <input type="text" name="jns_kelamin" id="jns_kelamin" class="form-control" value="{{ siswa.jns_kelamin }}" disabled>
                    </div>
                </div>
                <div class="form-group row d-flex">
                    <label class="col-sm-4 col-md-3 col-lg-2 col-form-label">Tempat Tanggal Lahir</label>
                    <div class="col-sm-3 col-md-4 col-lg-5 align-self-center">
                        <input type="text" class="form-control" id="tpt_lahir" name="tpt_lahir" value="{{ siswa.tpt_lahir }}" disabled>
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-5 align-self-center">
                        <input type="text" class="form-control" id="tgl_lahir" name="tgl_lahir" value="{{ siswa.tgl_lahir| date:'d-m-Y' }}" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputAgama" class="col-sm-4 col-md-3 col-lg-2 col-form-label">Agama</label>
                    <div class="col-sm-8 col-md-9 col-lg-10">
                        <input type="text" class="form-control" id="inputAgama" name="agama" value="{{ siswa.agama }}" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputNoTlp" class="col-sm-4 col-md-3 col-lg-2 col-form-label">No. Telepon</label>
                    <div class="col-sm-8 col-md-9 col-lg-10">
                        <input type="telp" class="form-control" id="inputNoTlp" name="no_tlp" value="{{ siswa.no_tlp }}" disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputAlamat" class="col-sm-4 col-md-3 col-lg-2 col-form-label">Alamat</label>
                    <div class="col-sm-8 col-md-9 col-lg-10">
                        <textarea name="alamat" class="form-control" id="inputAlamat" rows="2" disabled>{{ siswa.alamat }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}