{% extends 'parent_center_app/base.html' %}
{% block breadcrumb %}
    <div class="div-title mx-4 py-4">
        <span class="title-content">{{title}}</span>
        <hr class="dropdown-divider hr-title mt-3">
    </div>
{% endblock breadcrumb %}

{% block content %}
    <div class="row card-jml">
        <div class="col-xs-12 col-sm-6 col-lg-3 col-md-3 mb-2">
            <a href="/data_guru">
                <div class="card">
                    <div class="card-body card-dashboard">
                        <h5 class="card-title">Guru</h5>
                        <div class="card-content">
                            <i class="fas fa-fw fa-chalkboard-teacher"></i><span>{{Jml_guru}}</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3 col-md-3 mb-2">
            <a href="/data_siswa">
                <div class="card">
                    <div class="card-body card-dashboard">
                        <h5 class="card-title">Siswa Kelas X</h5>
                        <div class="card-content">
                            <i class="fas fa-fw fa-users"></i><span>{{Jml_siswa_x}}</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3 col-md-3 mb-2">
            <a href="/data_siswa">
                <div class="card">
                    <div class="card-body card-dashboard">
                        <h5 class="card-title">Siswa Kelas XI</h5>
                        <div class="card-content">
                            <i class="fas fa-fw fa-users"></i><span>{{Jml_siswa_xi}}</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3 col-md-3 mb-2">
            <a href="/data_siswa">
                <div class="card">
                    <div class="card-body card-dashboard">
                        <h5 class="card-title">Siswa Kelas XII</h5>
                        <div class="card-content">
                            <i class="fas fa-fw fa-users"></i><span>{{Jml_siswa_xii}}</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 col-lg-8">
            <h6 class="subtitle-dashboard">Jadwal KBM</h6>
            <div class="card">
                <div class="card-body card-dashboard div-jadwal">
                    <div class="row d-flex mr-0 ml-0">
                        <div class="col-sm-6 col-xs-6 col-lg-6 align-items-center px-0">
                            <div class="dropdown dropdown-jadwal">
                                <button class="btn btn-light dropdown-toggle" type="button" id="btn-jadwal" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Lihat Jadwal
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btn-jadwal">
                                    <button class="dropdown-item" id="kemarin">Kemarin</button>
                                    <button class="dropdown-item" id="hari ini">Hari ini</button>
                                    <button class="dropdown-item" id="besok">Besok</button>
                                    <button class="dropdown-item" id="lusa">Lusa</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6 col-lg-6 px-0 order-1 align-self-center text-right">
                            <span>Rabu / 17 November 2021</span>
                        </div>
                    </div>
                    <div class="table-responsive table-dashboard">
                        <table class="table table-custom-dashboard table-hover" id="table-custom">
                            <thead>
                                <tr>
                                    <th scope="col">Kelas</th>
                                    <th scope="col">Mapel</th>
                                    <th scope="col">Guru</th>
                                    <th scope="col">Jam Pelajaran</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>X RPL 1</td>
                                    <td>
                                        <ol>
                                            <li>Bahasa Indonesia</li>
                                            <li>Pemrograman Dasar</li>
                                            <li>Bahasa Inggris</li>
                                        </ol>
                                    </td>
                                    <td>
                                        <ol>
                                            <li>Ibu A</li>
                                            <li>Bapak B</li>
                                            <li>Ibu C</li>
                                        </ol>
                                    </td>
                                    <td>
                                        <ol>
                                            <li>07.30 - 09.00</li>
                                            <li>09.00 - 11.00</li>
                                            <li>11.00 - 12.00</li>
                                        </ol>
                                    </td>
                                </tr>
                                <tr>
                                    <td>X RPL 2</td>
                                    <td>
                                        <ol>
                                            <li>Bahasa Indonesia</li>
                                            <li>Pemrograman Dasar</li>
                                            <li>Bahasa Inggris</li>
                                        </ol>
                                    </td>
                                    <td>
                                        <ol>
                                            <li>Ibu A</li>
                                            <li>Bapak B</li>
                                            <li>Ibu C</li>
                                        </ol>
                                    </td>
                                    <td>
                                        <ol>
                                            <li>07.30 - 09.00</li>
                                            <li>09.00 - 11.00</li>
                                            <li>11.00 - 12.00</li>
                                        </ol>
                                    </td>
                                </tr>
                                <tr>
                                    <td>X RPL 3</td>
                                    <td>
                                        <ol>
                                            <li>Bahasa Indonesia</li>
                                            <li>Pemrograman Dasar</li>
                                            <li>Bahasa Inggris</li>
                                        </ol>
                                    </td>
                                    <td>
                                        <ol>
                                            <li>Ibu A</li>
                                            <li>Bapak B</li>
                                            <li>Ibu C</li>
                                        </ol>
                                    </td>
                                    <td>
                                        <ol>
                                            <li>07.30 - 09.00</li>
                                            <li>09.00 - 11.00</li>
                                            <li>11.00 - 12.00</li>
                                        </ol>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <h6 class="subtitle-dashboard resp-m4">Online User</h6>
            <div class="card">
                <div class="card-body">
                    <h6 class="title-user-online">Admin</h6>
                    <div class="scroll-div h165">
                        <ul class="list-group list-group-flush list-user">
                            <li class="list-group-item"><i class="fas fa-circle"></i> Cras justo odio</li>
                            <li class="list-group-item"><i class="fas fa-circle"></i> Dapibus ac facilisis in</li>
                            <li class="list-group-item"><i class="fas fa-circle"></i> Morbi leo risus</li>
                            <li class="list-group-item"><i class="fas fa-circle"></i> Porta ac consectetur ac</li>
                            <li class="list-group-item"><i class="fas fa-circle"></i> Vestibulum at eros</li>
                        </ul>
                    </div>
                    
                    <h6 class="title-user-online">Guru</h6>
                    <div class="scroll-div h165">
                        <ul class="list-group list-group-flush list-user">
                            <li class="list-group-item"><i class="fas fa-circle"></i> Cras justo odio</li>
                            <li class="list-group-item"><i class="fas fa-circle"></i> Dapibus ac facilisis in</li>
                            <li class="list-group-item"><i class="fas fa-circle"></i> Morbi leo risus</li>
                            <li class="list-group-item"><i class="fas fa-circle"></i> Porta ac consectetur ac</li>
                            <li class="list-group-item"><i class="fas fa-circle"></i> Vestibulum at eros</li>
                            <li class="list-group-item"><i class="fas fa-circle"></i> Vestibulum at eros</li>
                        </ul>
                    </div>

                    <h6 class="title-user-online">Orang tua / Wali</h6>
                    <div class="scroll-div h165">
                        <ul class="list-group list-group-flush list-user">
                            <li class="list-group-item"><i class="fas fa-circle"></i> Cras justo odio</li>
                            <li class="list-group-item"><i class="fas fa-circle"></i> Dapibus ac facilisis in</li>
                            <li class="list-group-item"><i class="fas fa-circle"></i> Morbi leo risus</li>
                            <li class="list-group-item"><i class="fas fa-circle"></i> Porta ac consectetur ac</li>
                            <li class="list-group-item"><i class="fas fa-circle"></i> Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer %}
    <script>
        $(document).ready(function(){
            $('#table-custom').DataTable({
                pageLength : 5,
                lengthMenu: [5, 10, 25, 100]
            });
        });
    </script>
{% endblock footer %}