{% extends 'parent_center_app/base.html' %}
{% block breadcrumb %}
<div class="row d-flex pt-4 div-tambah">
    <div class="col-lg-7 col-sm-6">
        <div class="div-title">
            <span class="title-content">{{title}}</span>
        </div>
    </div>
    <div class="col-lg-5 col-sm-6 align-self-center text-right">
        <button class="btn btn-light btn-tambah" type="button" data-toggle="modal" data-target="#modal_tambah_mapel"><i class="fas fa-plus-square"></i> Tambah {{title}}</button>
    </div>
</div>
<hr class="dropdown-divider hr-title mb-4 mx-4 mt-3">
{% endblock breadcrumb %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body card-dashboard">
                    <div class="row mx-0">
                        <div class="col-lg-12 px-0 div-sort">
                            <button class="btn btn-light"><i class="fas fa-download"></i> Export to Excel</button>
                        </div>
                    </div>
                    <div class="table-responsive table-mapel">
                        <table class="table table table-striped table-siswa" id="table-custom">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Jenis</th>
                                    <th scope="col">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Matematika</td>
                                    <td>A. Muatan Nasional</td>
                                    <td>
                                        <button class="btn btn-light" type="button" data-toggle="modal" data-target="#modal_edit_mapel"><i class="fas fa-pencil-alt"></i></button>
                                        <button class="btn btn-light" type="button" data-toggle="modal" data-target="#modal_hapus"><i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Seni Budaya</td>
                                    <td>B. Muatan Kewilayahan</td>
                                    <td>
                                        <button class="btn btn-light" type="button" data-toggle="modal" data-target="#modal_edit_mapel"><i class="fas fa-pencil-alt"></i></button>
                                        <button class="btn btn-light" type="button" data-toggle="modal" data-target="#modal_hapus"><i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Simulasi Digital</td>
                                    <td>C1. Dasar Bidang Keahlian</td>
                                    <td>
                                        <button class="btn btn-light" type="button" data-toggle="modal" data-target="#modal_edit_mapel"><i class="fas fa-pencil-alt"></i></button>
                                        <button class="btn btn-light" type="button" data-toggle="modal" data-target="#modal_hapus"><i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal -->
    <div class="modal fade" id="modal_tambah_mapel" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-0 d-flex">
                    <i class="fas fa-plus-square align-self-center"></i> <h5 class="modal-title" id="ModalLabel">Tambah Mata Pelajaran</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" name="tambah_mapel" class="form-custom">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="inputNama" class="col-sm-3 col-md-2 col-form-label">Nama</label>
                            <div class="col-sm-9 col-md-10">
                                <input type="text" class="form-control" id="inputNama" name="nama" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="jenis" class="col-sm-3 col-md-2 col-form-label">Jenis</label>
                            <div class="col-sm-9 col-md-10">
                                <select name="jenis" id="jenis" class="form-control">
                                    <option value="A">A. Muatan Nasional</option>
                                    <option value="B">B. Muatan Kewilayahan</option>
                                    <option value="C1">C1. Dasar Bidang Keahlian</option>
                                    <option value="C2">C2. Dasar Program Keahlian</option>
                                    <option value="C3">C3. Kompetensi Keahlian</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer border-0 p125">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Batal</button>
                            <button type="submit" class="btn btn-light btn-tambah">Tambah</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_edit_mapel" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-0 d-flex">
                    <i class="fas fa-pencil-alt align-self-center"></i> <h5 class="modal-title" id="ModalLabel">Ubah Mata Pelajaran</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" name="ubah_mapel" class="form-custom">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="inputNama" class="col-sm-3 col-md-2 col-form-label">Nama</label>
                            <div class="col-sm-9 col-md-10">
                                <input type="text" class="form-control" id="inputNama" name="nama" value="" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="jenis" class="col-sm-3 col-md-2 col-form-label">Jenis</label>
                            <div class="col-sm-9 col-md-10">
                                <select name="jenis" id="jenis" class="form-control">
                                    <option value="A">A. Muatan Nasional</option>
                                    <option value="B">B. Muatan Kewilayahan</option>
                                    <option value="C1">C1. Dasar Bidang Keahlian</option>
                                    <option value="C2">C2. Dasar Program Keahlian</option>
                                    <option value="C3">C3. Kompetensi Keahlian</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer border-0 p125">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Batal</button>
                            <button type="submit" class="btn btn-light btn-tambah">Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}
{% block keterangan %}
    <b>Matematika</b>
{% endblock keterangan %}
{% block footer %}
    <script>
        $(document).ready(function(){
            $('#table-custom').DataTable();
        });
    </script>
{% endblock footer %}
