{% extends 'parent_center_app/base.html' %}
{% block breadcrumb %}
<div class="row d-flex pt-4 div-tambah">
    <div class="col-lg-7 col-sm-6">
        <div class="div-title">
            <span class="title-content">{{title}}</span>
        </div>
    </div>
    <div class="col-lg-5 col-sm-6 align-self-center text-right">
        <a class="btn btn-light btn-tambah" href="/tambah_orangtua"><i class="fas fa-plus-square"></i> Tambah Orang Tua / Wali</a>
    </div>
</div>
<hr class="dropdown-divider hr-title mb-4 mx-4 mt-3">
{% endblock breadcrumb %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body card-dashboard">
                    <div class="row mx-0">
                        <div class="col-lg-12 px-0 div-sort">
                            <button class="btn btn-light"><i class="fas fa-download"></i> Export to Excel</button>
                        </div>
                    </div>
                    <div class="table-responsive table-siswa">
                        <table class="table table table-striped table-siswa" id="table-custom">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Orang Tua / Wali</th>
                                    <th scope="col">No. Telepon</th>
                                    <th scope="col" style="width: 30%;">Alamat</th>
                                    <th scope="col">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Udin Marudin</td>
                                    <td><a href="/detail_siswa">Nabilah (X RPL 1)</a></td>
                                    <td>089999999999</td>
                                    <td>Kav. H. Hamidi Jl. H. Solihin RT.07/RW.14 NO.20 Kebalen Babelan Bekasi 17610</td>
                                    <td>
                                        <a class="btn btn-light" href="/detail_orangtua"><i class="fas fa-external-link-square-alt"></i></a>
                                        <button class="btn btn-light" type="button" data-toggle="modal" data-target="#modal_hapus"><i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Udin</td>
                                    <td><a href="/detail_siswa">Nabilah (X RPL 1)</a></td>
                                    <td>089999999999</td>
                                    <td>Kav. H. Hamidi Jl. H. Solihin RT.07/RW.14 NO.20 Kebalen Babelan Bekasi 17610</td>
                                    <td>
                                        <a class="btn btn-light" href="/detail_orangtua"><i class="fas fa-external-link-square-alt"></i></a>
                                        <button class="btn btn-light" type="button" data-toggle="modal" data-target="#modal_hapus"><i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Udin</td>
                                    <td><a href="/detail_siswa">Nabilah (X RPL 1)</a></td>
                                    <td>089999999999</td>
                                    <td>Kav. H. Hamidi Jl. H. Solihin RT.07/RW.14 NO.20 Kebalen Babelan Bekasi 17610</td>
                                    <td>
                                        <a class="btn btn-light" href="/detail_orangtua"><i class="fas fa-external-link-square-alt"></i></a>
                                        <button class="btn btn-light" type="button" data-toggle="modal" data-target="#modal_hapus"><i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block keterangan %}
    atas nama <b class="text-capitalize">Udin Marudin</b>
{% endblock keterangan %}
{% block footer %}
    <script>
        $(document).ready(function(){
            $('#table-custom').DataTable();
        });
    </script>
{% endblock footer %}
