{% extends 'parent_center_app/base.html' %}
{% block breadcrumb %}
<div class="row pt-4">
    <div class="col-lg-12">
        <div class="div-title">
            <span class="title-content">{{title}}</span>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/cari_spp">Data SPP</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<hr class="dropdown-divider hr-title mb-4 mx-4 mt-3">
{% endblock breadcrumb %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body card-dashboard">
                    <div class="table-responsive table-mapel">
                        <table class="table table table-striped table-siswa" id="table-custom">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Tanggal Bayar</th>
                                    <th scope="col">Tahun Ajar</th>
                                    <th scope="col">Semester</th>
                                    <th scope="col">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for spp in form %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ spp.id_siswa.nama }}</td>
                                    <td>{{ spp.tgl_bayar|date:'l, d F Y'  }}</td>
                                    <td>{{ spp.thn_ajar }}</td>
                                    <td>{% if spp.semester == '1' %}
                                            Ganjil
                                        {% else %}
                                            Genap
                                        {% endif %}
                                    </td>
                                    <td>
                                        <button class="btn btn-light" type="button" data-toggle="modal" data-target="#modal_hapus"><i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}
{% block keterangan %}
    atas nama <b>Nabilah</b>
{% endblock keterangan %}
{% block footer %}
    <script>
        $(document).ready(function(){
            $('#table-custom').DataTable();
        });
    </script>
{% endblock footer %}
