{% extends 'parent_center_app/base.html' %}
{% block breadcrumb %}
<div class="row d-flex pt-4 div-tambah">
    <div class="col-lg-7 col-sm-6">
        <div class="div-title">
            <span class="title-content">{{title}}</span>
        </div>
    </div>
    <div class="col-lg-5 col-sm-6 align-self-center text-right">
        <a class="btn btn-light btn-tambah" href="{% url 'tambah siswa' %}"><i class="fas fa-plus-square"></i> Tambah Siswa</a>
    </div>
</div>
<hr class="dropdown-divider hr-title mb-4 mx-4 mt-3">
{% endblock breadcrumb %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body card-dashboard">
                    <div class="row mx-0">
                        <div class="col-lg-12 px-0 div-sort">
                            Lihat data siswa :
                            <select class="select2select" name="kelas" id="sort-by-class">
                                <option value="">Semua</option>
                                {% for kelas in Kelass %}
                                <option value="">
                                    {{ kelas.kelas }} 
                                    {{ kelas.jurusan }}
                                    {{ kelas.no_kelas }}
                                </option>
                                {% endfor %}
                            </select>
                            <button class="btn btn-light ml-2 btn-export"><i class="fas fa-download"></i> Export to Excel</button>
                        </div>
                    </div>
                    <div class="table-responsive table-siswa">
                        <table class="table table table-striped table-siswa" id="table-custom">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">NIS</th>
                                    <th scope="col">NISN</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Kelas</th>
                                    <th scope="col" class="text-center">Jenis Kelamin</th>
                                    <th scope="col">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for siswa in Siswas %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{siswa.nis}}</td>
                                    <td>{{siswa.nisn}}</td>
                                    <td>{{siswa.nama}}</td>
                                    <td>
                                        {{siswa.id_kelas.kelas}}
                                        {{ siswa.id_kelas.get_jurusan_display }}
                                        {{ siswa.id_kelas.no_kelas }}
                                    </td>
                                    <td class="text-center">
                                        {% if siswa.jns_kelamin == "Laki-Laki" %}
                                            L
                                        {% else %}
                                            P
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="btn btn-light" href="{% url 'detail siswa' pk=siswa.pk %}"><i class="fas fa-external-link-square-alt"></i></a>
                                        <button class="btn btn-light" type="button" data-toggle="modal" data-target="#modal_hapus">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block keterangan %}
    atas nama <b class="text-capitalize">{{siswa.nama}}</b>
{% endblock keterangan %}
{% block footer %}
    <script>
        $(document).ready(function(){
            $('#table-custom').DataTable();
        });
    </script>
    <script src="//cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#sort-by-class').select2();
        });
    </script>
{% endblock footer %}
