{% extends 'parent_center_app/base.html' %}
{% block breadcrumb %}
<div class="row d-flex pt-4 div-tambah">
    <div class="col-lg-7 col-sm-6">
        <div class="div-title">
            <span class="title-content">{{title}}</span>
        </div>
    </div>
    <div class="col-lg-5 col-sm-6 align-self-center text-right">
        <a class="btn btn-light btn-tambah" href="/tambah_guru"><i class="fas fa-plus-square"></i> Tambah Guru</a>
    </div>
</div>
<hr class="dropdown-divider hr-title mb-4 mx-4 mt-3">
{% endblock breadcrumb %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body card-dashboard">
                    <div class="row mx-0">
                        <div class="col-lg-12 px-0 div-sort">
                            <button class="btn btn-light"><i class="fas fa-download"></i> Export to Excel</button>
                        </div>
                    </div>
                    <div class="table-responsive table-siswa">
                        <table class="table table table-striped table-siswa" id="table-custom">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">NIP / NIKKI</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">No. Telepon</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for guru in Gurus %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{guru.no_induk}}</td>
                                    <td>{{guru.nama}}</td>
                                    <td>{{guru.no_tlp}}</td>
                                    <td>{{guru.email}}</td>
                                    <td>
                                        <a class="btn btn-light" href="{% url 'detail guru' pk=guru.pk %}"><i class="fas fa-external-link-square-alt"></i></a>
                                        <a href="{% url 'delete guru' pk=guru.id_guru %}" class="btn btn-light" ><i class="fas fa-trash-alt"></i></a>
                                        <!--<button class="btn btn-light" type="button" data-toggle="modal" data-target="#modal_hapus"><i class="fas fa-trash-alt"></i></button>-->
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block keterangan %}
    atas nama <b class="text-capitalize">Nabilah</b>
{% endblock keterangan %}
{% block footer %}
    <script>
        $(document).ready(function(){
            $('#table-custom').DataTable();
        });
    </script>
{% endblock footer %}
