{% extends 'parent_center_app/base.html' %}
{% block breadcrumb %}
<div class="row pt-4">
    <div class="col-lg-12">
        <div class="div-title">
            <span class="title-content">{{title}}</span>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/data_orangtua">Data Orang Tua / Wali</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<hr class="dropdown-divider hr-title mb-4 mx-4 mt-3">
{% endblock breadcrumb %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body card-custom">
                <form method="post" name="detail_orangtua" class="form-custom">
                    {% csrf_token %}
                    <h6 class="subtitle-dashboard mx-4 mt-4 form-title"><span>Data Orang Tua / Wali</span></h6>
                    <div class="form-group row">
                        <label for="inputNama" class="col-sm-3 col-md-2 col-form-label">Nama</label>
                        <div class="col-sm-9 col-md-10">
                            <input type="text" class="form-control" id="inputNama" name="nama" value="" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-md-2 col-form-label" for="siswa">Orang Tua / Wali dari</label>
                        <div class="col-sm-9 col-md-10">
                            <select class="select2select form-control" name="id_siswa" id="siswa">
                                <option value="">X RPL 1 - Nabilah</option>
                                <option value="">X RPL 1 - Ana</option>
                                <option value="">X RPL 1 - Ani</option>
                                <option value="">X RPL 1 - Udin</option>
                                <option value="">X RPL 1 - Adin</option>
                                <option value="">X RPL 1 - Idin</option>
                                <option value="">X RPL 1 - Bilah</option>
                                <option value="">X RPL 1 - Nana</option>
                                <option value="">X RPL 1 - Nabilah</option>
                                <option value="">X RPL 2 - Asadin</option>
                                <option value="">X RPL 3 - Sayyid</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row form-jk">
                        <label class="col-sm-3 col-md-2 col-form-label">Jenis Kelamin</label>
                        <div class="col-sm-9 col-md-10 d-flex">
                            <div class="form-check form-check-inline align-self-center">
                                <input class="form-check-input" type="radio" name="jns_kelamin" id="perempuan" value="P" required>
                                <label class="form-check-label" for="perempuan">Perempuan</label>
                            </div>
                            <div class="form-check form-check-inline align-self-center">
                                <input class="form-check-input" type="radio" name="jns_kelamin" id="laki-laki" value="L" required>
                                <label class="form-check-label" for="laki-laki">Laki-laki</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputNoTlp" class="col-sm-3 col-md-2 col-form-label">No. Telepon</label>
                        <div class="col-sm-9 col-md-10">
                            <input type="telp" class="form-control" id="inputNoTlp" name="no_tlp" value="" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputAlamat" class="col-sm-3 col-md-2 col-form-label">Alamat</label>
                        <div class="col-sm-9 col-md-10">
                            <textarea name="alamat" class="form-control" id="inputAlamat" rows="4" required></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputKeterangan" class="col-sm-3 col-md-2 col-form-label">Keterangan</label>
                        <div class="col-sm-9 col-md-10">
                            <textarea name="keterangan" class="form-control" id="inputKeterangan" rows="2"></textarea>
                        </div>
                    </div>
                    
                    <h6 class="subtitle-dashboard mx-4 form-title mt-2rem"><span>Data Akun</span></h6>
                    <div class="form-group row">
                        <label for="inputUsername" class="col-sm-3 col-md-2 col-form-label">Username</label>
                        <div class="col-sm-9 col-md-10">
                            <input type="text" class="form-control" id="inputUsername" name="username" value="" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-md-2 col-form-label">Ubah Password</label>
                        <div class="col-sm-9 col-md-10">
                            <div class="input-group">
                                <input type="password" class="form-control" id="inputPassword" name="password" value="" required>
                                <div class="input-group-append">
                                  <button type="button" class="input-group-text" id="btnShowPassword">
                                      <i class="fas fa-eye" id="spanEye"></i>
                                  </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 text-right div-btn">
                            <a href="/data_orangtua" class="btn btn-light">Batal</a>
                            <input type="submit" class="btn btn-light btn-tambah" value="Simpan">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block footer %}
    <script src="//cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#siswa').select2();
        });
    </script>
{% endblock footer %}