{% extends 'parent_center_app/base.html' %}
{% block breadcrumb %}
<div class="row pt-4">
    <div class="col-lg-12">
        <div class="div-title">
            <span class="title-content">{{title}}</span>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/data_siswa">Data Siswa</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<hr class="dropdown-divider hr-title mb-4 mx-4 mt-3">
{% endblock breadcrumb %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body card-custom">
                <form method="post" name="edit_siswa" class="form-custom">
                    {% csrf_token %}
                    <div class="form-group row mt-3">
                        <label for="inputNis" class="col-sm-4 col-md-3 col-lg-2 col-form-label">NIS</label>
                        <div class="col-sm-8 col-md-9 col-lg-10">
                            <input type="text" class="form-control" id="inputNis" name="nis" value="" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputNisn" class="col-sm-4 col-md-3 col-lg-2 col-form-label">NISN</label>
                        <div class="col-sm-8 col-md-9 col-lg-10">
                            <input type="text" class="form-control" id="inputNisn" name="nisn" value="" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputNama" class="col-sm-4 col-md-3 col-lg-2 col-form-label">Nama</label>
                        <div class="col-sm-8 col-md-9 col-lg-10">
                            <input type="text" class="form-control" id="inputNama" name="nama" value="" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-md-3 col-lg-2 col-form-label" for="kelas">Kelas</label>
                        <div class="col-sm-8 col-md-9 col-lg-10">
                            <select class="select2select form-control" name="id_kelas" id="kelas">
                                <option value="">X RPL 1</option>
                                <option value="">X RPL 2</option>
                                <option value="">X RPL 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row form-jk">
                        <label class="col-sm-4 col-md-3 col-lg-2 col-form-label">Jenis Kelamin</label>
                        <div class="col-sm-8 col-md-9 col-lg-10 d-flex">
                            <div class="form-check form-check-inline align-self-center">
                                <input class="form-check-input" type="radio" name="jns_kelamin" id="perempuan" value="P" required>
                                <label class="form-check-label" for="perempuan">Perempuan</label>
                            </div>
                            <div class="form-check form-check-inline align-self-center">
                                <input class="form-check-input" type="radio" name="jns_kelamin" id="laki-laki" value="L" required>
                                <label class="form-check-label" for="laki-laki">Laki-laki</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row d-flex">
                        <label class="col-sm-4 col-md-3 col-lg-2 col-form-label">Tempat Tanggal Lahir</label>
                        <div class="col-sm-3 col-md-4 col-lg-5 align-self-center">
                            <input type="text" class="form-control" id="tpt_lahir" name="tpt_lahir" value="" required>
                        </div>
                        <div class="col-sm-5 col-md-5 col-lg-5 align-self-center">
                            <input type="date" class="form-control" id="tgl_lahir" name="tgl_lahir" value="" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputAgama" class="col-sm-4 col-md-3 col-lg-2 col-form-label">Agama</label>
                        <div class="col-sm-8 col-md-9 col-lg-10">
                            <input type="text" class="form-control" id="inputAgama" name="agama" value="" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputNoTlp" class="col-sm-4 col-md-3 col-lg-2 col-form-label">No. Telepon</label>
                        <div class="col-sm-8 col-md-9 col-lg-10">
                            <input type="telp" class="form-control" id="inputNoTlp" name="no_tlp" value="" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputAlamat" class="col-sm-4 col-md-3 col-lg-2 col-form-label">Alamat</label>
                        <div class="col-sm-8 col-md-9 col-lg-10">
                            <textarea name="alamat" class="form-control" id="inputAlamat" rows="4" required></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 text-right div-btn">
                            <a href="/data_siswa" class="btn btn-light">Batal</a>
                            <input type="submit" class="btn btn-light btn-tambah" value="Simpan">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block footer %}
    <script src="//cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.select2select').select2();
        });
    </script>
{% endblock footer %}