{% extends 'parent_center_app/base_orangtua.html' %}
{% block breadcrumb %}
<div class="div-title mx-4 py-4">
    <span class="title-content">{{title}}</span>
    <hr class="dropdown-divider hr-title mt-3">
</div>
{% endblock breadcrumb %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-danger font-14" role="alert">
            Jika data tidak tertera pada tabel, artinya siswa belum melakukan pembayaran.
        </div>
        <div class="card">
            <div class="card-body card-dashboard">
                <div class="table-responsive table-mapel">
                    <table class="table table table-striped table-siswa" id="table-custom">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Tahun Ajaran</th>
                                <th scope="col">Semester</th>
                                <th scope="col">Bulan</th>
                                <th scope="col">Jumlah Bayar</th>
                                <th scope="col">Tanggal Bayar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in spp %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ data.thn_ajar }}</td>
                                <td>{{ data.get_semester_display }}</td>
                                <td>{% if data.bulan_ke == 1 %}
                                        Januari
                                    {% elif data.bulan_ke == 2 %}
                                        Febuari
                                    {% elif data.bulan_ke == 3 %}
                                        Maret
                                    {% elif data.bulan_ke == 4 %}
                                        April
                                    {% elif data.bulan_ke == 5 %}
                                        Mei
                                    {% elif data.bulan_ke == 6 %}
                                        Juni
                                    {% elif data.bulan_ke == 7 %}
                                        Juli
                                    {% elif data.bulan_ke == 8 %}
                                        Agustus
                                    {% elif data.bulan_ke == 9 %}
                                        September
                                    {% elif data.bulan_ke == 10 %}
                                        Oktober
                                    {% elif data.bulan_ke == 11 %}
                                        November
                                    {% else %}
                                        Desember
                                    {% endif %}
                                </td>
                                <td>Rp. {{ data.jumlah }},00</td>
                                <td>{{ data.tgl_bayar|date:'d-m-Y' }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block footer %}
<script>
    $(document).ready(function(){
        $('#table-custom').DataTable();
    });
</script>
{% endblock footer %}